*{
  margin: 0;
  box-sizing: 0;
  padding: 0;
}

body{
  font-family: 'Poppins',sans-serif;
  background-color: #f5f6fa;
}

.container{
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}